.width-rem-35 {
    min-width: 30rem;
}

.todo-list {
    text-align: left;
    color: black;
}

li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: relative;
}

label {
    display: flex;
    gap: 5px;
    align-items: center;
}

label>span {
    width: 19rem;
}

input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid var(--color-gray-500);
    border-radius: 4px;
    width: 16px;
    height: 16px;
}

input[type="checkbox"]:checked {
    appearance: auto;
}

.form-control-sm {
    position: absolute;
    left: 30px;
    width: 18.5rem;
    padding: 4px;
    background: transparent;
    border: 1px solid var(--color-gray-300);
    border-radius: 4px;
    color: black;
}
